
.password-comb{

}
.password-comb .collapsible {
  background-color: crimson;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 1rem;
  }
  .password-comb .collapsible .active, .collapsible:hover {
    background-color: rgb(211, 49, 81);

  }
  
 
  .password-comb .collapsible:after {
    content: '⌄';

/* transform: rotate(270deg); */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .password-comb  .active:after {
    content: '^';


  }

  .password-comb .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    margin-bottom:1rem;
  }